---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Layout from '@layouts/Default.astro';
import CareerList from '@components/careers/CareerList.astro';
import { Button } from '@eliancodes/brutal-ui';

export async function getStaticPaths() {
  const allCareers = await getCollection('careers').then((collection) =>
    collection.reverse()
  );

  const tags: string[] = [];

  allCareers.forEach((career) => {
    career.data.tags.forEach((tag) => {
      tags.push(tag.toLowerCase());
    });
  });

  return Array.from(new Set(tags)).map((tag) => {
    const filteredCareers = allCareers.filter((career) =>
      career.data.tags.map((t) => t.toLowerCase()).includes(tag)
    );

    return {
      params: { tag },
      props: {
        tag,
        careers: filteredCareers,
      },
    };
  });
}


interface Props {
  tag: string;
  careers: CollectionEntry<'careers'>[];
}

const { tag, careers } = Astro.props;
---

<Layout
  title={`Blog: ${tag}`}
  description={`Brutal Blog | All posts tagged with ${tag}`}
  pageTitle={`Brutal Blog | Blogposts tagged with ${tag}`}
>
  <main class='p-6 bg-purple grid gap-4'>
    <div>
      <Button href='/careers/'>&larr; Back to Career Paths</Button>
    </div>
    <CareerList careers={careers} />
  </main>
</Layout>