---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';

const posts = await getCollection('blog').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='Podcasts & Meditations'
  description='Bye Wanxiety | A collection of Podcast episodes & meditations to help with work anxiety'
  pageTitle='Bye Wanxiety'
>
  <main class='bg-green p-6'>
    <BlogList posts={posts} />
  </main>
</Layout>
