---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';

const posts = await getCollection('blog');
const sortedPosts = [...posts]  .sort((a, b) => {
    const idAString = a.id.match(/\d+/)?.[0] ?? '0';
    const idBString = b.id.match(/\d+/)?.[0] ?? '0';
    const idA = parseInt(idAString, 10);
    const idB = parseInt(idBString, 10);
    return idA - idB;
  }).reverse()
---

<Layout
  title='Podcasts & Meditations'
  description='Bye Wanxiety | A collection of Podcast episodes & meditations to help with work anxiety'
  pageTitle='Bye Wanxiety'
>
  <main class='bg-green p-6'>
    <BlogList posts={sortedPosts} />
  </main>
</Layout>
