---
import Layout from "@layouts/Default.astro";
import RecentBlogPosts from "@components/generic/RecentBlogPosts.astro";
import MobileSocials from "@components/home/MobileSocials.astro";
import { Pill } from "@eliancodes/brutal-ui";
import { Button } from "@eliancodes/brutal-ui";
import { Card } from "@eliancodes/brutal-ui";

const builtWith = [
  { name: "Tech", url: "./careers/" },
  { name: "AI & ML", url: "./careers/" },
  {
    name: "Medicine",
    url: "./careers/",
  },
  { name: "Law", url: "./careers/" },
  { name: "Law Enforcement", url: "./careers/" },
  { name: "Nutrition and Fitness", url: "./careers/" },
  {
    name: "Sales",
    url: "./careers/",
  },
  { name: "Science", url: "./careers/" },
  { name: "Education", url: "./careers/" },
  { name: "Finance", url: "./careers/" },
  { name: "Advertising", url: "./careers/" },

  { name: "Marketing", url: "./careers/" },
  { name: "Blogger", url:"./careers/" },

  { name: "Cyber Security", url: "./careers/" },
  { name: "Fashion", url: "./careers/" },
  {
    name: "Government",
    url: "./careers/",
  },
];
---

<Layout
  title="Home"
  pageTitle="Bye Wanxiety | Home"
  description="A safe place to help with work anxiety and career transitions."
>
  <main class="bg-pink p-6">
    <MobileSocials />
    <section id="about" class="grid md:grid-cols-8 gap-8 mt-4">
      <h2 class="hidden">About Brutal</h2>
      <div class="col-span-4">
        <Card>
          <div class="flex flex-col justify-between items-start gap-4">
            <p class="mt-4 outfit text-2xl md:text-5xl lg:text-7xl">
              What is <a
                class="text-white"
                target="_blank"
                href="https://www.webmd.com/anxiety-panic/features/workplace-anxiety"
                >Wanxiety?</a
              >
            </p>
            <p class="mt-2 outfit text-xl md:text-2xl lg:text-3xl">
              Work anxiety is a feeling of stress, worry, or nervousness
              specifically related to work & career. It can come in different forms such as fear of losing your job,
              being anxious of learning new skills & taking on new roles, feeling stuck & not knowing where your career is going, feeling nervous about presentations or 
              meetings with leaders, and many more!
            </p>
            <Button
              href="https://www.webmd.com/anxiety-panic/features/workplace-anxiety"
              target="_blank"
            >
              Check out the WebMD article &rarr;
            </Button>
          </div>
        </Card>
      </div>
      <div class="col-span-2">
        <Card>
          <h2 class="text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif">
            Career Paths
          </h2>
          <ul class="flex gap-4 flex-wrap">
            {
              builtWith.map((item) => (
                <li>
                  <Pill>
                    <a
                      class="sanchez"
                      href={item.url}
                      target="_blank"
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      <div class="col-span-2">
        <Card>
          <h2 class="text-2xl md:text-4xl lg:text-4xl mb-4 dm-serif">
            The Bye Wanxiety Mission!
          </h2>
          <p class="poppins">
            Bye Wanxiety is a platform to help normalize discussions about work and career anxiety, as well as changing careers at any age, as a vital step towards fostering a healthier and more supportive professional environment. By offering resources, personal stories, expert advice, and a community for open dialogue, Bye Wanxiety aims to break down the stigma associated with career uncertainty and transitions.
          </p>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
