---
interface Props {
  content: any;
}

const { content } = Astro.props;
---

<article class='prose-slate w-sm md:w-prose md:prose poppins'>
  <a href='/blog/' title='Back to podcast episodes'>&larr; Back to Content</a>
  <p class='text-slate text-sm md:text-base'>
    Released on {content.pubDate}
  </p>
  <slot />
  <a href='/blog/' title='Back to podcast episodes'>&larr; Back to Content</a>
</article>
