---
interface Props {
  content: any;
}

const { content } = Astro.props;
---

<article class='prose-slate w-sm md:w-prose md:prose poppins'>
  <slot />
  <a href='/blog/' title='Back to podcast episodes'>&larr; Back</a>
</article>
